/*去除响应式*/
.container {
	width: 1226px;
	max-width: none !important;
}
.container-fluid {
	padding: 0px;
	margin: 0px;
	max-width: none !important;
}

body
{
	background-color: rgba(237, 42, 122, 0.1);
	font-family: 'Microsoft YaHei';
	padding: 0px;
}
.ajax-tips p
{
	font-size: 20px;
	color: #777;
	margin: 0px;
	margin-bottom: 15px;
}
#save
{
	padding: 0px;
	margin-bottom: 0px;
	font-size: 12px;
	background: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
}
#top-box
{
	background-color: #fff;
}
#top
{
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 15px;
}
#top .form-box
{
	border: 1px solid #ed2a7a;
	padding: 0px;
}
#top .form-box input,
#top .form-box button
{
	border: 0px;
	border-radius: 0px;
}
#top .hot-search
{
	padding-top: 5px;
}
#top .hot-search ul
{
	margin-bottom: 0px;
}
#top .hot-search ul li
{
	padding-left: 0px;
	padding-right: 5px;
}
#top .hot-search ul li a
{
	color: #777;
	text-decoration: none;
}
#top .hot-search ul li a:hover
{
	color: #ed2a7a;
}
#top .topimg
{
	display: table;
}
#top .topimg .table-cell
{
	display: table-cell;
}
#top .topimg .table-cell p
{
	font-size: 12px;
	padding-top: 10px;
	margin-bottom: 0px;
}

#nav-tab,
#nav-tab .box
{
	background-color: #ed2a7a;
}
#nav-tab .box ul
{
	margin-bottom: 0px;
}
#nav-tab .box ul .active
{
	background-color: #fef490;
	padding-left: 10px;
	padding-right: 10px;
}
#nav-tab .box ul .active a
{
	color: #ed2a7a;
}
#nav-tab .box ul .active a:hover
{
	color: #ed2a7a;
}
#nav-tab .box ul li
{
	padding: 10px 5px;
	cursor: pointer;
}
#nav-tab .box ul .home
{
	padding: 10px 10px;
}
#nav-tab .box .other li,
#nav-tab .box ul li a
{
	font-size: 16px;
	color: #fff;
	font-weight: 800px;
	text-decoration: none;
}
#nav-tab .box .other li:hover,
#nav-tab .box ul li	a:hover
{
	color: #fef490;
}
#nav-tab .box .other .name
{
	position: relative;
}
#nav-tab .box .other .name .content
{
	position: absolute;
	top: 43px;
	right: -14px;
	z-index: 999;
	width: 150px;
	height: 150px;
	padding: 5px;
	background-color: #fff;
	display: none;
}
#nav-tab .box .other .name .content:before
{
	display: block;
	position: absolute;
	content: '';
	top: -27px;
	left: 70px;
	border: 16px solid transparent;
	border-bottom-color: #fff;
}
#nav-tab .box .other .name:hover .content
{
	display: block;
}
#nav-tab .box .other .name .content img
{
	width: 100%;
	height: 100%;
}

#banner-box .container .row
{
	margin-top: 0px;
	padding-left: 10px;
	margin-bottom: 0px;
}
#banner-box
{
	margin-bottom: 15px;
}
#banner-box .col-xs-2,
#banner-box .col-xs-10
{
	padding: 0px;
}
#banner-box .category
{
	background-image: url('/pcstyle/images/goods_category_bg.jpg');
	background-color: rgba(0,0,0,0.6);
	height: 510px;
	overflow: hidden;
}
#banner-box .category ul li
{
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#banner-box .category ul li:hover
{
	background-color: rgba(255, 255, 255, 0.3);
	/* background-color: rgba(0, 0, 0, 0.3); */
	/* background-color: rgba(237, 42, 122, 0.6); */
}
#banner-box .category ul a
{
	text-decoration: none;
}
#banner-box .category ul li
{
	color: #fff;
	font-size: 14px;
	line-height: 42px;
}
#banner-box .category ul li:after
{
	content: '>';
	display: block;
	float: right;
	padding-right: 20px;
	font-weight: 800;
	font-size: 18px;
}
#banner-box .content-box
{
	position: relative;
}
#banner-box .content-box .subCategory-box
{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 15;
	display: none;
}
#banner-box .content-box .subCategory-box .subCategory
{
	display: none;
	width: 100%;
	height: 500px;
	padding: 10px;
	overflow: hidden;
}
#banner-box .content-box .subCategory-box .subCategory .row
{
	max-height: 100px;
	min-height: 50px;
	overflow: hidden;
}
#banner-box .content-box .subCategory-box .subCategory .cate-left
{
	font-size: 14px;
	overflow: hidden;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 2px;
}
#banner-box .content-box .subCategory-box .subCategory .cate-left a
{
	color: #333;
	text-decoration: none;
}
#banner-box .content-box .subCategory-box .subCategory .cate-left a:hover
{
	color: #ed2a7a;
}
#banner-box .content-box .subCategory-box .subCategory .cate-left img
{
	width: 40px;
	height: 40px;
	display: inline-block;
	float: left;
}
#banner-box .content-box .subCategory-box .subCategory .cate-left span
{
	line-height: 40px;
}
#banner-box .content-box .subCategory-box .subCategory .cate-right
{
	overflow: hidden;
}
#banner-box .content-box .subCategory-box .subCategory .cate-right ul
{
	margin: 0px;
}
#banner-box .content-box .subCategory-box .subCategory .cate-right ul li
{
	border-left: 1px solid #eee;
	padding-left: 15px;
	margin-bottom: 7px;
	width: 150px;
}
#banner-box .content-box .subCategory-box .subCategory .cate-right ul li a
{
	line-height: 40px;
	font-size: 14px;
	color: #777;
	text-decoration: none;
}
#banner-box .content-box .subCategory-box .subCategory .cate-right ul li a:hover
{
	color: #ed2a7a;
}
#banner-box .content-box .subCategory-box .subCategory .cate-right ul li a img
{
	width: 40px;
	height: 40px;
}
#banner-box .banners
{
	overflow: hidden;
	height: 510px;
}
#banner-box .banners img
{
	height: 100%;
	width: 100%;
}

#category-image
{
	margin-bottom: 15px;
}
#category-image .container
{
	padding: 0px 0px 0px 10px;
}
#category-image .col-xs-12
{
	padding-right: 5px;
}
#category-image ul
{
	display: table;
	width: 100%;
	margin-bottom: 0px;
}
#category-image ul li
{
	display: table-cell;
}
#category-image ul li a img
{
	width: 100%;
	display: block;
}

.coupon-list
{
	margin-bottom: 5px;
}
.coupon-list .item-box
{
	width: 20%;
	padding: 0px 0px 0px 10px;
	overflow: hidden;
	margin-bottom: 10px;
	height: 318px;
}
.coupon-list .item-box a
{
	text-decoration: none;
	color: #111;
}
.coupon-list .item-box .item
{
	background-color: #fff;
	padding: 10px;
}
.coupon-list .item-box .item .img-box
{
	overflow: hidden;
	height: 215px;
	position: relative;
}
.coupon-list .item-box .item .img-box img
{
	width: 100%;
}
.coupon-list .item-box .item .img-box .item-desc
{
	position: absolute;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	width: 100%;
	padding: 5px;
	display: none;
	max-height: 215px;
	overflow: hidden;
}
.coupon-list .item-box .item .img-box:hover .item-desc
{
	display: block;
}
.coupon-list .item-box .item h2
{
	font-size: 14px;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 10px;
	margin-bottom: 5px;
}
.coupon-list .item-box a:hover .item h2
{
	color: #ed2a7a;
}
.coupon-list .item-box .item h2 img
{
	display: inline-block;
	padding-bottom: 4px;
	height: 19px;
}
.coupon-list .item-box .item hr
{
	margin-top: 1px;
	margin-bottom: 6px;
}
.coupon-list .item-box .item .info
{
	height: 42px;
	overflow: hidden;
}
.coupon-list .item-box .item .price-now
{
	color: #777;
	font-size: 12px;
}
.coupon-list .item-box .item .price-ori .pull-left .prefix
{
	color: #ed2a7a;
}
.coupon-list .item-box .item .price-ori .pull-left .number
{
	font-size: 18px;
	color: #ed2a7a;
	font-weight: 800;
}
.coupon-list .item-box .item .price-ori .pull-right
{
	position: relative;
	background-color: #ed2a7a;
	padding: 0px 8px 0px 4px;
	color: #fff;
}
.coupon-list .item-box .item .price-ori .pull-right .circle-left,
.coupon-list .item-box .item .price-ori .pull-right .circle-right
{
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: #fff;
	position: absolute;
	top: 7px;
}
.coupon-list .item-box .item .price-ori .pull-right .circle-left
{
	left: -4px;
}
.coupon-list .item-box .item .price-ori .pull-right .circle-right
{
	right: -4px;
}
.coupon-list .item-box .item .price-ori .pull-right .money
{
	font-size: 16px;
	font-weight: 80px;
}
.coupon-list .item-box .item .price-now .pt-dmj,
.coupon-list .item-box .item .price-ori .pt-ptj
{
	font-size: 12px;
	color: #333;
	margin-bottom: 3px;
}
.coupon-list .item-box .item .price-now .pt-num
{

}
.coupon-list .item-box .item .price-ori .pt-ptj
{
	margin-top: 4px;
}
.coupon-list .item-box .item .price-ori .pt-ptj .prefix
{

}
.coupon-list .item-box .item .price-ori .pt-ptj .number
{
	font-size: 14px;
	font-weight: 800;
	color: #ed2a7a;
}
.coupon-list .item-box .item .price-ori .pt-people-box
{
	background-color: transparent;
	padding: 0px;
}
.coupon-list .item-box .item .price-ori .pt-people-box .pt-people
{
	display: inline-block;
	border-radius: 10px;
	padding: 0px 10px 2px;
}
.coupon-list .item-box .item .price-ori .pt-people-box .p2
{
	background-color: #ed2a7a;
}
.coupon-list .item-box .item .price-ori .pt-people-box .p4
{
	background-color: #fef490;
	color: #ed2a7a;
}

#tedian
{
	padding-top: 10px;
	padding-bottom: 20px;
	color: #777;
}
#tedian .box
{
	display: table;
}
#tedian .box .info
{
	display: table-cell;
	font-size: 22px;
	font-weight: 800;
}
#tedian .box .info i
{
	color: #ed2a7a;
	font-size: 25px;
}

#footer
{
	background-color: #333;
	border-top: 5px solid #ed2a7a;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}
#footer .top .category ul
{
	overflow: hidden;
	width: 836px;
	height: 20px;
}
#footer .top .category ul li
{
	padding-left: 0px;
	padding-right: 0px;
}
#footer .top .category ul li a
{
	color: #fff;
	text-decoration: none;
}
#footer .top .category ul li a:after
{
	content: ' /';
}
#footer .top .category ul li a:hover
{
	color: #ed2a7a;
}

#recommend
{
	margin-bottom: 15px;
}
#recommend h3
{
	padding: 0px;
	margin: 0px;
	font-weight: 800;
}

#all-category-box
{
	padding-top: 15px;
	margin-bottom: 15px;
}
#all-category-box .container
{
	padding-left: 25px;
}
#all-category-box .one-level
{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #eee;
}
#all-category-box .one-level a
{
	line-height: 40px;
}
#all-category-box .one-level a,
#all-category-box .two-level a
{
	color: #777;
	text-decoration: none;
}
#all-category-box .one-level a:hover,
#all-category-box .two-level a:hover
{
	color: #ed2a7a;
}
#all-category-box .one-level a img,
#all-category-box .two-level img
{
	width: 50px;
	height: 50px;
}
#all-category-box .two-level
{
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 70px;
}
#all-category-box .two-level .left i
{
	float: right;
	line-height: 50px;
}
#all-category-box .two-level .right ul
{
	margin: 0px;
}
#all-category-box .two-level .right ul li
{
	width: 100px;
	margin-bottom: 10px;
}
#all-category-box .two-level .right img
{
	display: block;
	margin: 0px auto;
}

.bread-crumb
{
	margin-bottom: 15px;
}
.bread-crumb .box
{
	padding-left: 10px;
	padding-right: 0px;
}
.bread-crumb ul
{
	background-color: #fff;
	margin: 0px;
	padding-left: 15px;
	padding-bottom: 0px;
}
.bread-crumb ul li
{
	line-height: 40px;
	padding-right: 10px;
	padding-left: 10px;
	position: relative;
}
.bread-crumb ul .line:after
{
	content: '/';
	display: block;
	position: absolute;
	right: -5px;
	top: 0px;
}
.bread-crumb ul .active,
.bread-crumb ul .active a
{
	color: #ed2a7a;
	font-weight: 800;
}
.bread-crumb ul li a
{
	color: #777;
	text-decoration: none;
}
.bread-crumb ul li a:hover
{
	color: #ed2a7a;
}
.bread-crumb ul li a img
{
	width: 40px;
	height: 40px;
}

.goods-info
{
	margin-bottom: 15px;
}
.goods-info .container
{
	padding-left: 25px;
}
.goods-info .box>.row
{
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 405px;
	overflow: hidden;
}
.goods-info .box .row .right
{

}
.goods-info .box .row .right h1
{
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 20px;
	word-wrap: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.goods-info .box .row .right h1 img
{
	line-height: 20px;
	height: 24px;
	display: inline-block;
	padding-bottom: 4px;
	padding-right: 3px;
}
.goods-info .box .row .right .price-box
{
	width: 100%;
	background-color: #efefef;
	font-size: 18px;
	padding: 20px 20px 60px 40px;
}
.goods-info .box .row .right .price-box .pull-left
{
	line-height: 38px;
}
.goods-info .box .row .right .price-box .pull-right
{
	line-height: 50px;
}
.goods-info .box .row .right .price-box .m
{
	color: #ed2a7a;
}
.goods-info .box .row .right .price-box .price-now
{
	color: #ed2a7a;
	font-size: 30px;
	font-weight: 800;
}
.goods-info .box .row .right .price-box .num
{
	color: #ed2a7a;
}
.goods-info .box .row .right .take
{
	margin-top: 20px;
}
.goods-info .box .row .right .take .coupon-box
{
	padding-left: 30px;
}
.goods-info .box .row .right .take .coupon-box .shop-info
{
	margin-bottom: 15px;
}
.goods-info .box .row .right .take .coupon-box .shop-info h3
{
	margin-bottom: 10px;
	margin-top: 0px;
	font-size: 18px;
}
.goods-info .box .row .right .take .coupon-box .shop-info p
{
	margin-bottom: 5px;
}
.goods-info .box .row .right .take .coupon-box .coupon
{
	position: relative;
	background-color: #fef490;
}
.goods-info .box .row .right .take .coupon-box .coupon .circle-right
{
	width: 40px;
	height: 40px;
	background-color: #fff;
	position: absolute;
	top: 30px;
	right: -20px;
	border-radius: 20px;
}
.goods-info .box .row .right .take .coupon-box .coupon .circle-left-1,
.goods-info .box .row .right .take .coupon-box .coupon .circle-left-2,
.goods-info .box .row .right .take .coupon-box .coupon .circle-left-3
{
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 10px;
	position: absolute;
	left: -10px;
}
.goods-info .box .row .right .take .coupon-box .coupon .circle-left-1
{
	top: 10px;
}
.goods-info .box .row .right .take .coupon-box .coupon .circle-left-2
{
	top: 40px;
}
.goods-info .box .row .right .take .coupon-box .coupon .circle-left-3
{
	top: 70px;
}
.goods-info .box .row .right .take .coupon-box .coupon .money,
.goods-info .box .row .right .take .coupon-box .coupon .date,
.goods-info .box .row .right .take .coupon-box .coupon .link
{
	height: 100px;
}
.goods-info .box .row .right .take .coupon-box .coupon .money
{
	font-size: 20px;
	padding-top: 10px;
}
.goods-info .box .row .right .take .coupon-box .coupon .money .m
{
	font-size: 20px;
	color: #ed2a7a;
}
.goods-info .box .row .right .take .coupon-box .coupon .money .num
{
	font-size: 55px;
	color: #ed2a7a;
	font-weight: 800;
}
.goods-info .box .row .right .take .coupon-box .coupon .date
{
	padding-top: 18px;
}
.goods-info .box .row .right .take .coupon-box .coupon .date p
{
	margin: 0px;
}
.goods-info .box .row .right .take .coupon-box .coupon .date .top
{
	margin-bottom: 10px;
	font-weight: 800;
}
.goods-info .box .row .right .take .coupon-box .coupon .link
{
	background-color: #ed2a7a;
	border-left: 3px dotted #fff;
	padding-top: 33px;
}
.goods-info .box .row .right .take .coupon-box .coupon .link a
{
	color: #fff;
	font-size: 25px;
	text-decoration: none;
}
.goods-info .box .row .right .take .coupon-box .coupon .link a:hover
{
	color: #fef490;
}
.goods-info .box .row .right .take .coupon-box .pintuan
{
	background-color: transparent;
}
.goods-info .box .row .right .take .coupon-box .pintuan .money,
.goods-info .box .row .right .take .coupon-box .pintuan .date
{
	background-color: #fef490;
}
.goods-info .box .row .right .take .coupon-box .pintuan .money
{
	padding-right: 0px;
}
.goods-info .box .row .right .take .coupon-box .pintuan .link
{
	background-color: #ed2a7a;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	padding-top: 15px;
}
.goods-info .box .row .right .take .ercode
{
	margin-top: 10px;
}
.goods-info .box .row .right .take .ercode .tips
{
	font-size: 16px;
	color: #777;
	padding: 0px;
	margin-bottom: 13px;
}
.goods-info .box .row .right .take .ercode img
{
	width: 100%;
	height: 100%;
	display: block;
}

.goods-detail-info
{
	margin-bottom: 15px;
}
.goods-detail-info .container
{
	padding-left: 25px;
}
.goods-detail-info .box
{
	background-color: #fff;
	border-left: 3px solid #ed2a7a;
	padding-bottom: 10px;
	padding-top: 10px;
	cursor: pointer;
}
.goods-detail-info .box .tips p
{
	font-size: 18px;
	margin: 0px;
}
.goods-detail-info .box .tips i
{
	line-height: 25px;
	font-size: 20px;
}
.goods-detail-info .images-box
{
	background-color: #fff;
	padding-bottom: 15px;
	display: none;
}
.goods-detail-info .images-box .col-xs-12 img
{
	max-width: 790px;
}

#search-index
{
	margin-top: 50px;
	margin-bottom: 50px;
}
.search-box .nav-tabs
{
	margin-bottom: 15px;
	border-bottom: 1px solid #ed2a7a;
}
.search-box .nav-tabs li.active>a,
.search-box .nav-tabs li.active>a:hover
{
	background-color: #ed2a7a;
	border: 1px solid #ed2a7a;
	color: #fff;
}
.search-box ul li a
{
	color: #333;
}
.search-box ul li a:hover
{
	color: #ed2a7a;
	background-color: transparent;
	border-bottom: 1px solid #ed2a7a;
}
.search-box .search-content .col-xs-10
{
	padding-right: 0px;
}
.search-box .search-content .col-xs-2
{
	padding-left: 0px;
}
.search-box .search-content input,
.search-box .search-content button
{
	border: 1px solid #ed2a7a;
	border-radius: 0px;
}
.search-box .search-content button
{
	background-color: #ed2a7a;
	color: #fff;
}
.search-box .search-content .tips-box
{
	padding-left: 15px;
	padding-right: 15px;
}
.search-box .search-content .tips-box .col-xs-12
{
	background-color: #fff;

}

.index-search-box .nav-tabs
{
	border-bottom: 1px solid #ed2a7a;
	margin-bottom: 3px;
}
.index-search-box .nav-tabs li.active>a,
.index-search-box .nav-tabs li.active>a:hover
{
	background-color: #ed2a7a;
	border: 1px solid #ed2a7a;
	color: #fff;
}
.index-search-box ul li a
{
	color: #333;
}
.index-search-box ul li a:hover
{
	color: #ed2a7a;
	background-color: transparent;
	border: 1px solid transparent;
	border-bottom: 1px solid #ed2a7a;
}
.index-search-box .search-content .col-xs-10
{
	padding-right: 0px;
}
.index-search-box .search-content .col-xs-2
{
	padding-left: 0px;
}
.index-search-box .search-content input,
.index-search-box .search-content button
{
	border: 1px solid #ed2a7a;
	border-radius: 0px;
}
.index-search-box .search-content button
{
	background-color: #ed2a7a;
	color: #fff;
}
.index-search-box .search-content .tips-box
{
	padding-left: 15px;
	padding-right: 15px;
}
.index-search-box .search-content .tips-box .col-xs-12
{
	background-color: #fff;

}
.index-search-box .nav-tabs>li>a
{
	padding-top: 4px;
	padding-bottom: 4px;
}

.search-ju-list
{
	margin-bottom: 15px;
}
.search-ju-list .container
{
	padding-left: 25px;
}
.search-ju-list .container>.row
{
}
.search-ju-list .ju-result
{

}
.search-ju-list .ju-result .ju-box
{
	background-color: #fff;
	margin-bottom: 15px;
}
.search-ju-list .ju-result .ju-box .ju-image
{
	padding-top: 15px;
	padding-bottom: 15px;
	height: 255px;
	overflow: hidden;
}
.search-ju-list .ju-result .ju-box .ju-image img
{
	display: block;
	width: 100%;
}
.search-ju-list .ju-result .ju-box .ju-info
{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 0px;
}
.search-ju-list .ju-result .ju-box .ju-info h2
{
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 15px;s
}
.search-ju-list .ju-result .ju-box .ju-info h2 img
{
	display: inline-block;
	height: 25px;
	padding-bottom: 6px;
}
.search-ju-list .ju-result .ju-box .ju-info h2 a
{
	color: #333;
	text-decoration: none;
}
.search-ju-list .ju-result .ju-box .ju-info .ju-special
{
	width: 100%;
}
.search-ju-list .ju-result .ju-box .ju-info .ju-special .tips,
.search-ju-list .ju-result .ju-box .ju-info .ju-special ul
{
	display: inline-block;
	float: left;
	margin-bottom: 0px;
}
.search-ju-list .ju-result .ju-box .ju-info .ju-special .tips
{
	font-weight: 800;
}
.search-ju-list .ju-result .ju-box .ju-info .ju-special ul li
{
	position: relative;
	color: #ed2a7a;
}
.search-ju-list .ju-result .ju-box .ju-info .ju-special ul li:after
{
	content: '/';
	display: block;
	position: absolute;
	right: -4px;
	top: 0px;
	color: #999;
}
.search-ju-list .ju-result .ju-box .ju-info .ju-bottom
{

}
.search-ju-list .ju-result .ju-box .ju-info .ju-bottom .ju-take-box
{
	margin-top: 15px;
	padding-right: 0px;
}
.search-ju-list .ju-result .ju-box .ju-info .ju-bottom .ju-take-box .ju-price-info
{
	margin-bottom: 0px;
}
.search-ju-list .ju-result .ju-box .ju-info .ju-bottom .ju-take-box .ju-you
{
	color: #ed2a7a;
	font-weight: 800;
	margin-top: 0px;
	margin-bottom: 0px;
}
.search-ju-list .ju-result .ju-box .ju-info .ju-bottom .ju-take-box .ju-action
{
	margin-top: 10px;
	width: 300px;
	height: 110px;
	background-color: #fef490;
	padding-top: 10px;
	padding-right: 40px;
	position: relative;
}
.search-ju-list .ju-result .ju-box .ju-info .ju-bottom .ju-take-box .ju-action .ju-s
{
	color: #ed2a7a;
	font-size: 25px;
	font-weight: 800;
	margin-bottom: 15px;
}
.search-ju-list .ju-result .ju-box .ju-info .ju-bottom .ju-take-box .ju-action .ju-date
{
	margin: 0px;
}
.search-ju-list .ju-result .ju-box .ju-info .ju-bottom .ju-take-box .ju-action .ju-link
{
	width: 110px;
	height: 110px;
	border: 5px solid #fef490;
	background-color: #ed2a7a;
	position: absolute;
	top: 0px;
	right: -55px;
	border-radius: 55px;
	padding: 20px;
}
.search-ju-list .ju-result .ju-box .ju-info .ju-bottom .ju-take-box .ju-action .ju-link a
{
	font-size: 25px;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
}
.search-ju-list .ju-result .ju-box .ju-info .ju-bottom .ju-take-box .ju-price-info .ju-now
{
	font-size: 22px;
	color: #ed2a7a;
	font-weight: 800;
}
.search-ju-list .ju-result .ju-box .ju-info .ju-bottom .ju-take-box .ju-price-info .ju-ori
{
	font-size: 16px;
	color: #777;
	font-weight: 800;
}
.search-ju-list .ju-result .ju-box .ju-info .ju-bottom .ju-ercode-img
{

}
.search-ju-list .ju-result .ju-box .ju-info .ju-bottom .ju-ercode-img p
{
	margin-top: 5px;
	margin-bottom: 5px;
}
.search-ju-list .ju-result .ju-box .ju-info .ju-bottom .ju-ercode-img img
{
	width: 100%;
}
.search-ju-list .ju-recommend
{
}
.search-ju-list .ju-recommend .r-name
{
	padding-left: 15px;
	margin-bottom: 15px;
}
.search-ju-list .ju-recommend .r-name .col-xs-12
{
	border-left: 5px solid #ed2a7a;
	background-color: #fff;
}
.search-ju-list .ju-recommend .r-name h5
{
	font-size: 16px;
	font-weight: 800;
}
.search-ju-list .ju-recommend .r-bottom
{
	padding-left: 15px;
}
.search-ju-list .ju-recommend .r-bottom .r-box
{

}
.search-ju-list .ju-recommend .r-item
{
	padding-left: 15px;
	padding-top: 15px;
	background-color: #fff;
}
.search-ju-list .ju-recommend .r-item .item-box
{
	padding-left: 0px;
	padding-bottom: 15px;
	margin-bottom: 0px;
}
.search-ju-list .ju-recommend .r-item .item-box a
{
	text-decoration: none;
}
.search-ju-list .ju-recommend .r-item .item-box .item .img-box
{
	height: 173px;
	overflow: hidden;
}
.search-ju-list .ju-recommend .r-item .item-box .item .img-box img
{
	width: 100%;
}
.search-ju-list .ju-recommend .r-item .item-box a .item h2
{
	font-size: 12px;
	color: #333;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 6px;
	margin-bottom: 0px;
}
.search-ju-list .ju-recommend .r-item .item-box a:hover .item h2
{
	color: #ed2a7a;
}
.search-ju-list .ju-recommend .r-item .item-box a .item h2 img
{
	display: inline-block;
	height: 18px;
	padding-bottom: 3px;
}
.search-ju-list .ju-recommend .r-item .item-box a .item p
{
	color: #333;
	margin-bottom: 0px;
	font-size: 12px;
}
.search-ju-list .ju-recommend .r-item .item-box a .item p del
{
	color: #777;
}

.tqg-time
{
	width: 100%;
	padding: 0px;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 139px;
	z-index: 100;
}
.tqg-time ul
{
	margin: 0px;
	display: table;
	width: 100%;
}
.tqg-time ul .active
{
	background-color: #ed2a7a;
	color: #fff;
	position: relative;
}
.tqg-time ul .active:after
{
	display: block;
	position: absolute;
	content: '';
	bottom: -20px;
	left: 40%;
	border: 10px solid transparent;
	border-top-color: #ed2a7a;
}
.tqg-time ul li
{
	cursor: pointer;
	display: table-cell;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}
.tqg-time ul li .time,
.tqg-time ul li .status
{
	display: block;
	margin: 0px auto;
	font-size: 14px;
}
.tqg-time ul li .time
{
	font-weight: 800;
	font-size: 18px;
	line-height: 18px;
}
.tqg-time ul li .status
{
	line-height: 14px;
}
.tqg-time ul li:hover
{
	color: #fef490;
}
.tqg-item
{
	/* margin-top: 52px; */
	margin-top: 0px;
}
.tqg-item .item-pannel
{
	display: none;
}
.tqg-item>.active
{
	display: block;
}
.tqg-item .tqg-top
{
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 15px;
}
.tqg-item .tqg-top .tips
{
	border-left: 5px solid #ed2a7a;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 18px;
}
.tqg-item .tqg-top .time
{
	font-size: 18px;
}
.tqg-item .tqg-top .time .left-time
{
	font-weight: 800;
	background-color: #ed2a7a;
	color: #fff;
	display: inline-block;
	padding: 3px 10px 2px;
	border-radius: 15px;
}
.tqg-item .tqg-bottom
{

}
.tqg-item .tqg-bottom .item
{
	padding-bottom: 15px;
}
.tqg-item .tqg-bottom .item>.row
{
	padding-left: 15px;
}
.tqg-item .tqg-bottom .item .img-box,
.tqg-item .tqg-bottom .item .content
{
	background-color: #fff;
}
.tqg-item .tqg-bottom .item .img-box
{
	overflow: hidden;
	height: 197px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.tqg-item .tqg-bottom .item .img-box img
{
	width: 100%;
}
.tqg-item .tqg-bottom .item .content
{
	padding-left: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 197px;
	overflow: hidden;
}
.tqg-item .tqg-bottom a:hover .item .content h3
{
	color: #ed2a7a;
}
.tqg-item .tqg-bottom .item .content h3
{
	font-size: 18px;
	line-height: 25px;
	margin-top: 0px;
	margin-bottom: 22px;
	font-weight: 400;
	height: 50px;
	overflow: hidden;
	color: #333;
}
.tqg-item .tqg-bottom .item .content .middle
{
	width: 100%;
	height: 55px;
	overflow: hidden;
}
.tqg-item .tqg-bottom .item .content .middle .price
{

}
.tqg-item .tqg-bottom .item .content .middle .price .ori
{
	font-size: 14px;
	text-decoration: line-through;
	color: #777;
}
.tqg-item .tqg-bottom .item .content .middle .price .now
{
	font-size: 25px;
	line-height: 25px;
	font-weight: 400;
	color: #ed2a7a;
}
.tqg-item .tqg-bottom .item .content .middle .price .now .prefix
{
	font-weight: 400;
	font-size: 14px;
}
.tqg-item .tqg-bottom .item .content .middle .link
{
	padding-top: 8px;
}
.tqg-item .tqg-bottom .item .content .bottom
{

}
.tqg-item .tqg-bottom .item .content .bottom .data
{
	width: 100%;
	height: 20px;
	overflow: hidden;
	color: #777;
}
.tqg-item .tqg-bottom .item .content .bottom .line .progress
{
	margin-bottom: 0px;
}

.tqg-banner .box
{
	padding-left: 10px;
	padding-right: 0px;
	overflow: hidden;
	height: 242px;
}
.tqg-banner .box img
{
	width: 100%;
}

.app-download-main
{
	background: url('/pcstyle/images/app_download_bg2.jpg') no-repeat center bottom 0px;;
	background-size: 100%;
	height: 600px;
	overflow: hidden;
	position: relative;
}
.app-download-main .glass-box
{
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	background: inherit;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-ms-filter: blur(3px);
	-o-filter: blur(3px);
	filter: blur(3px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);
}
.app-download-main .box .app-left>img
{
	display: block;
	margin-top: 60px;
	margin-bottom: 30px;
}
.app-download-main .box .app-left .app-active
{
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.app-download-main .box .app-left .app-active .app-a-link
{
	width: 60%;
	padding: 0px;
	margin: 0px;
	float: left;
}
.app-download-main .box .app-left .app-active .app-a-link a
{
	display: block;
	width: 90%;
	height: 60px;
	margin-bottom: 30px;
	font-size: 20px;
	padding-top: 15px;
}
.app-download-main .box .app-left .app-active .app-a-link a img
{
	width: 25px;
	display: inline-block;
	padding-bottom: px;
}
.app-download-main .box .app-left .app-active .ercode
{
	width: 40%;
	padding: 0px;
	margin: 0px;
	float: left;
}
.app-download-main .box .app-left .app-active .ercode img
{
	display: inline-block;
}
.app-download-main .box .app-right img
{
	display: block;
	margin-top: 32px;
	width: 350px;
}

#toTop
{
	color: #ed2a7a;
	position: fixed;
	right: 5px;
	bottom: 100px;
	z-index: 1000;
	display: none;
	cursor: pointer;
}
#toTop span
{
	font-size: 40px;
	display: block;
	line-height: 0px;
}
